{
  "ApiBaseUrl": "http://localhost:5101/api/",
  "ApiBaseUrlHttps": "https://localhost:5143/api/",
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Information"
    }
  }
}
