{
  "ConnectionStrings": {
    "DeliveryDb": "server=localhost;port=3306;database=traditional_eats_delivery;user=root;password=YOUR_PASSWORD_HERE"
  },
  "Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "http://localhost:5005"
      }
    }
  }
}
